output/
themes/Flex/.github/
themes/Flex/docs/
themes/Flex/node_modules/
themes/Flex/pygments/
themes/Flex/static/dark-theme/
themes/Flex/static/font-awesome/
themes/Flex/static/img/
themes/Flex/static/isso/
themes/Flex/static/pygments/
themes/Flex/static/stork/
themes/Flex/static/tipuesearch/
# themes/Flex/templates/
themes/Flex/translations
themes/Flex/.gitignore
themes/Flex/.travis.yml
themes/Flex/CHANGELOG.md
themes/Flex/gulpfile.js
themes/Flex/LICENSE
themes/Flex/package-lock.json
themes/Flex/package.json
themes/Flex/README.md
themes/Flex/screenshot.png
themes/Flex/tox.ini
themes/Flex/transifex.py
themes/Flex/translate.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
